# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://zzmtnjlfrlqmouijfste.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp6bXRuamxmcmxxbW91aWpmc3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTAwMTIyNzcsImV4cCI6MjEwNTU4ODI3N30.CEXPeB-_MlyLvtIRnV6f6Q1nqYIdtNWughlUv74yyUk

# Admin password (cambiar en produccion)
ADMIN_PASSWORD=crisbo2026
